body {
  margin: 0;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100%;
}


h1,
h2,
h3,
p {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 120px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
